body {
    margin: 0;
    background: #FDF1E8;
    font-family: 'Noto Serif TC', serif;
}

/* ------------------header----------------- */
/* border: solid 1px red; */
.header {
    z-index: 9999;
    position: relative;
    width: 95%;
    background-color: #FDF1E8;
    display: flex;
    padding: 0 70px;
    position: fixed;
    top: 0;
}

.logo-small {
    padding: 15px 10px 0 0;
}

.navLeft li {
    float: left;
    list-style: none;
}

.navLeft a {
    display: block;
    text-decoration: none;
    width: 100px;
    /* height: 40px; */
    text-align: center;
}

.navLeft ul ul {
    background-color: #FDF1E8;
    position: absolute;
    display: none;
    box-shadow: 0px 10px 13px -7px #959595;
}

/* .navLeft li li:hover {
    background-color:#979E8A;
} */

.navLeft li li {
    clear: left;
}

.navLeft a {
    color: #21402F;
    text-decoration: none;
    line-height: 60px;
    /* margin: 0 10px; */
}

.navLeft li:hover ul {
    display: block;
}

.nav-right {
    margin-left: auto;
}

.nav-right img {
    margin-top: 15px;
    margin-right: 30px;
}

/* ------------------content---------------- */
.container {
    margin: 0 auto;
    width: 1440px;
}

.content {
    margin: 60px 70px 0;
    display: flex;
}

.title {
    margin: auto;
    width: 725px;
    height: 180px;
}

.title p {
    margin: auto;
    margin-bottom: 50px;
    color: #21402F;
    font-size: 28px;
    display: inline-block;
    margin-left: 150px;
}

.title p strong {
    color: #21402F;
    font-size: 48px;
    letter-spacing: 10px;
    font-weight: bolder;
    margin-right: 25px;
}

.title li {
    font-size: 24px;
    padding: 16px 24px;
    border: solid 1px #979E8A;
    display: inline-block;
    border-radius: 30px;
    margin: 0 20px;
}

.title a {
    color: #21402F;
    text-decoration: none;
}

/* --------content2 款式--------- */
.content2 {
    /* border: solid 1px red; */
    margin: 0 70px 70px;
    display: flex;
    justify-content: right;
}

.shape {
    width: 300px;
    display: inline-block;
    margin-left: 60px;
}

.shape p {
    text-align: center;
    color: #21402F;
    margin-top: 30px;
    font-size: 20px;
}

.shape img {
    width: 300px;
    height: 300px;
}

.myOwn img {
    margin-left: 250px;
}

/* --------content2-crystal 水晶名--------- */
/* .crystal {
    border: solid 1px red;
    margin: 70px 70px 0 140px;
} */

.title2 {
    margin: auto;
    width: 725px;
    margin-bottom: 60px;
}

.title2 li {
    font-size: 24px;
    padding: 16px 24px;
    border: solid 1px #979E8A;
    display: inline-block;
    border-radius: 30px;
    margin: 0 20px;
}

.title2 a {
    color: #21402F;
    text-decoration: none;
}

/* ----------------選擇水晶---------------- */
.crystalName {
    margin: auto;
    width: 1270px;
    height: 500px;
}

.crystalName>img {
    float: left;
    margin-top: 170px;
}

.crystalName>img:nth-child(2) {
    float: right;
}
/* 選擇水晶 上層 */
.upper {
    width: 932px;
    height: 218px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.crystalUp {
    position: relative;
}

.crystalTxt {
    background-image: url(../images/CustomOpacity.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: opacity 1s;
}

.crystalUp:hover .crystalTxt {
    opacity: 0;
}

.crystalUp h2 {
    font-size: 24px;
    color: #fff;
    margin: auto;
}

/* < 選擇水晶 下層  */
.lower {
    display: flex;
    justify-content: space-between;
}


/* --------content2-cart--------- */
.cart {
    margin: 70px 70px 0 140px;
}

.Product {
    margin: 50px 70px 70px;
    display: flex;
    justify-content: space-around;
}

.text {
    margin: 0 50px;
    width: 380px;
    height: 581px;
    color: #21402F;
}

.text h1,
.text h3,
.text p,
hr {
    margin-bottom: 30px;
}

.text h1 {
    font-weight: bolder;
    font-size: 36px;
}

.text h3 {
    font-weight: bolder;
    font-size: 28px;
    letter-spacing: 5px;
}

.text h5 {
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: 5px;
    color: #979E8A;
}

.text p {
    font-size: 20px;
}

.size,
.material,
.stone,
.addShop {
    width: 370px;
    display: flex;
    justify-content: space-between;
}

.quantity {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.AddSub {
    width: 110px;
    display: flex;
    justify-content: space-around;
}

.AddSub img {
    padding: 5px 0;
    height: 13px;
}

.addShop {
    margin: auto;
    margin-top: 60px;
}

.add,
.shop {
    font-size: 20px;
    width: 175px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.add {
    border: solid 2px #21402F;
}

.shop {
    color: #fff;
    border: solid 2px #21402F;
    background-color: #21402F;
}


/* ------------------footer----------------- */
.footer {
    background-color: #979E8A;
    display: flex;
    padding: 0 70px;
}

.footer-logo {
    display: inline-block;
    padding: 15px 0;
}

.footer-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.footer-right ul {
    color: #FDF1E8;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.footer-right img {
    margin-left: 30px;
}