body {
    margin: 0;
    background: #FDF1E8;
    font-family: 'Noto Serif TC', serif;
}

/* ------------------header----------------- */
.header {
    z-index: 9999;
    position: relative;
    width: 95%;
    background-color: #FDF1E8;
    display: flex;
    padding: 0 70px;
    position: fixed;
    top: 0;
}

.logo-small {
    padding: 15px 10px 0 0;
}



.navLeft li {
    float: left;
    list-style: none;
}

.navLeft a {
    display: block;
    text-decoration: none;
    width: 100px;
    /* height: 40px; */
    text-align: center;
}

.navLeft ul ul {
    background-color: #FDF1E8;
    position: absolute;
    display: none;
    box-shadow: 0px 10px 13px -7px #959595;

}

.navLeft li li {
    clear: left;
}

.navLeft a {
    color: #21402F;
    text-decoration: none;
    line-height: 60px;
}

.navLeft li:hover ul {
    display: block;
}

.nav-right {
    margin-left: auto;
}

.nav-right img {
    margin-top: 15px;
    margin-right: 30px;
}

/* ------------------content----------------- */
.container {
    margin: 60px auto 0;
    width: 1440px;
    height: 742px;
}

.content {
    margin: 0 auto;
    width: 1200px;
    height: 742px;
}


/* project----------------- */
.project {
    margin-top: 100px;
    width: 1200px;
  
}

.project ul {
    width: 1200px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    color: #21402F;
    border-bottom: solid 1px #21402F;
}

/* list----------------- */
.list {
    width: 1200px;
    overflow: hidden;
}

.L1 {
    margin-top: 10px;
    line-height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.L1>img {
    width: 120px;
    height: 120px;

}

.L1 p {
    color: #21402F;
    text-align: center;
    width: 120px;
    height: 125px;

}

.AddSub {
    align-items: center;
    width: 120px;
    display: flex;
    justify-content: space-around;
}

.AddSub img {
    height: 13px;
}


/*金額-----------------*/
.subtotal {
    display: flex;
    justify-content: end;
    margin: 20px 0;
}

.subtotal p {
    text-align: right;
    width: 120px;
    margin: 0 60px 0 100px;
    color: #21402F;
}

.freight {
    display: flex;
    justify-content: end;
    margin: 20px 0;

}

.freight p {
    text-align: right;
    width: 120px;
    margin: 0 60px 0 100px;
    color: #21402F;
}

.total {
    display: flex;
    justify-content: end;
    margin: 20px 0;

}

.total p {
    text-align: right;
    width: 120px;
    margin: 0 60px 0 95px;
    color: #21402F;
    font-size: 20px;
}

button {
    float: right;
    width: 240px;
    height: 50px;
    font-size: 20px;
    font-weight: lighter;
    color: #FDF1E8;
    background-color: #21402F;
    font-family: 'Noto Serif TC', serif;
    margin: 20px 0;
    border: 1px solid #21402F;
}
button:hover{
    background-color: #979E8A;
    border: #979E8A;
}

.money {
    width: 1200px;
    margin-top: 230px;
    overflow: hidden;
}

/* ------------------footer----------------- */
.footer {
    background-color: #979E8A;
    display: flex;
    padding: 0 70px;
}

.footer-logo {
    display: inline-block;
    padding: 15px 0;
}

.footer-right {
    display: flex;
    align-items: center;
    margin-left: auto;

}

.footer-right ul {
    color: #FDF1E8;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.footer-right img {
    margin-left: 30px;
}